<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>

    <h1>Hi,
      <%= @bidder.email %>
    </h1>
    <h2>Thank you for your purchase!</h2>

    <hr>

    <h2>Tax Invoice</h2>

    <p>Item:
        <%= @item.name %>
    </p>

    <p>Tax Invoice Issue Date:
        <%= Time.now %>
    </p>

    <p>Total:
        <%= number_to_currency(@amount / 100) %>
    </p>

    <p>To login to the site, just follow this
        <a href="<%= @url %>">link</a>.</p>

    <p>Thank you for contributing to Raffler and have a great day!</p>
</body>

</html>
