<p id="notice"><%= notice %></p>

<h1>Your Seller Dashboard</h1>

<h2><%= @seller.profile.first_name %> <%= @seller.profile.last_name %></h2>

<p>
  <strong>Rating:</strong>
  <%= @seller.seller_rating %>
</p>

<%= link_to 'Sell An Item', new_item_path %>
