<p id="notice"><%= notice %></p>

<h1>Bids Admin Console</h1>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search Item' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.user.email %></td>

        <!-- Display the item IF it has a bid -->
        <td><%= bid.item.name %></td>
        <td><%= link_to 'Draw Winner', bid %></td>
        <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
        <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bid', new_bid_path %>
