<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Items', items_path %></li>
  <li class="breadcrumb-item active">Bids</li>
</ol>

<h1>Bids Admin Console</h1>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search Item' %>
<% end %>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Seller</th>
        <th>First Bid Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Only display the bids for each unique item -->
      <% @bids.map(&:item).uniq.each do |show| %>
        <tr>
          <td><%= show.name %></td>
          <td><%= show.seller.profile.username %></td>
          <!-- Display the earliest bid from each collection -->
          <td><% show.bids.order(:created_at).limit(1).each do |first_bid| %>
            <%= first_bid.created_at.strftime('%B %e at %l:%M %p %Z') %>
            <small>(<%= time_ago_in_words(first_bid.created_at) %> ago)</small>
            <% end %>
          </td>
          <td><%= link_to 'Draw Details', bid_path(show.bids.map(&:id)), class: "btn btn-primary btn-md" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Bid', new_bid_path %>
