<p id="notice"><%= notice %></p>

<h2> Draw for item: <%= @bid.item.name %> </h2>
<%= image_tag @bid.item.item_image.url(:medium) %>

<h3> Draw Details: </h3>
<table class="table table-sm">
  <tbody>
    <tr>
      <th scope="row">Bid Price:</th>
      <td><%= number_to_currency(@bid.item.price) %></td>
    </tr>
    <tr>
      <th scope="row">Seller:</th>
      <td><%= @bid.seller.profile.username %></td>
    </tr>
    <tr>
      <th scope="row">Total Draw Value:</th>
      <td><%= number_to_currency(@draw_total) %></td>
    </tr>
    <tr>
      <th scope="row">Winner Drawn:</th>
      <td><%= @winner.profile.username %></td>
    </tr>
  </tbody>
</table>

<h3> Active Bidders: </h3>
<ul class="list-group">
  <% @bidders.each do |show| %>
  <li class="list-group-item"><%= show.profile.username %></li>
  <% end %>
</ul>

<br>

<button type="button" class="btn btn-default">
  <%= link_to 'Send Winner Email', controller: "bids", action: "send_winner_email", winner: @winner, item: @bid.item %>
</button>

<button type="button" class="btn btn-default">
  <%= link_to 'Send Seller Email', controller: "bids", action: "send_seller_email", winner: @winner, item: @bid.item, draw_total: @draw_total %>
</button>

<br><br>
<%= link_to 'Back', bids_path, class: "btn btn-primary btn-md" %>
