<p id="notice"><%= notice %></p>

<h2> Draw for item: <%= @bid.item.name %> </h2>
<h3> Item Price: <%= number_to_currency(@bid.item.price) %> </h3>
<h3> Total Draw Value: <%= number_to_currency(@bidders.count * @bid.item.price) %> </h3>
<h3> Winner Drawn: <%= @winner %> </h3>

<h3> Bidders Log: </h3>
<% @bidders.each do |show| %>
    <li><%= show %></li>
<% end %>

<br>

<%= link_to 'Send Winner Email', controller: "bids", action: "send_winner_email", winner: @winner %>
<br >
<%= link_to 'Send Seller Notification', :controller => "winners", :action => "send_seller_notification" %>
