<p id="notice"><%= notice %></p>

<h1> Draw for item: <%= @bid.item.name %> </h1>

<h2> Bidders: </h2>

<% @bidders.each do |show| %>
  <ul>
    <%= show %>
  </ul>
<% end %>

<h2> Winner Drawn: <%= @winner %> </h2>

<%= link_to 'Send Winner Email', controller: "bids", action: "send_winner_email", winner: @winner %>
<br >
<%= link_to 'Send Seller Notification', :controller => "winners", :action => "send_seller_notification" %>
