<h1> Draw for item: <%= @bid.item.name %> </h1>

<h2> Bidders </h2>

<% @bidders.each do |show| %>
  <ul>
    <%= show %>
  </ul>
<% end %>

<!-- shuffle bidders (7) times and pick first from the array -->
<% 7.times { @bidders = @bidders.shuffle } %>
<h2> Winner Drawn: <%= @winner = @bidders.first %> </h2>


<%= link_to 'Send Winner Email', :controller => "winners", :action => "send_winner_email" %>
<br >
<%= link_to 'Send Seller Notification', :controller => "winners", :action => "send_seller_notification" %>
