<p id="notice"><%= notice %></p>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search Item' %>
<% end %>

<br />

<h1>Items Feed</h1>

<hr />

  <% @items.each do |item| %>
    <table>
        <tbody>
            <tr>
              <td><%= image_tag item.item_image.url(:thumb) %></td>
              <td><p><%= link_to "#{item.name}", item %></p></td>
              <td><p> Seller: <%= item.seller.profile.username %></p></td>
              <td><p><%= number_to_currency(item.price) %></p></td>
            </tr>
        </tbody>
      </table>
    <hr />
<% end %>

<br>

<%= link_to 'New Item', new_item_path %>

<%= link_to 'Bids', bids_path  %>
