<p id="notice"><%= notice %></p>

<h1>Items</h1>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search Item' %>
<% end %>

<table>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= image_tag item.item_image.url(:thumb) %></td>
            <td><%= link_to "#{item.name}", item %></td>
            <td><%= number_to_currency(item.price) %></td>
            <td><%#= link_to 'Show', item %></td>
            <td><%#= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      </tbody>
    </table>
  <hr />
<% end %>

<br>

<%= link_to 'New Item', new_item_path %>
