<p id="notice"><%= notice %></p>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search Item' %>
<% end %>

<br />
<hr />
<% @items.each do |item| %>
    <div class="media">
      <div class="media-left media-middle">
          <%= link_to image_tag item.item_image.url(:thumb) %>
      </div>

      <div class="media-body">
        <h4><%= link_to "#{item.name}", item, class: "media-heading" %></h4>
        <small>Seller: <%= link_to "#{item.seller.profile.username}" , seller_path(item.seller.id) %></small><br>
        <small>Added: <%= time_ago_in_words(item.created_at) %> ago</small><br>
        <small><em>Free Shipping</em></small>
        <h3><%= number_to_currency(item.price) %></h2>
      </div>
    </div>
  <hr />
<% end %>

<br>

<%= link_to 'New Item', new_item_path %> |
<%= link_to 'Bids', bids_path  %>
