<%= image_tag @item.item_image.url(:medium) %>

<h1><%= @item.name %></h1>

<h3>Seller: <%= @item.seller.profile.username %></h3>

<h3>Bid Price: <%= number_to_currency(@item.price) %></h3>

<h3>Description:</h3>
<p><%= @item.description %></p>

<br />

<!-- Stripe Payment Button -->
<%= form_tag charges_path do %>
  <%= hidden_field_tag :item , @item.id %>
    <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
    </article>

<h3>Interested in this item? Bid now!</h3>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @item.name %>"
          data-amount="<%= @stripe_price %>"
          data-email="<%= @bidder.email %>"
          data-currency="AUD"
          data-locale="auto">
  </script>
<% end %>

<hr>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
