<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Items', items_path %></li>
  <li class="breadcrumb-item active"><%= "#{@item.name}" %></li>
</ol>

<%= image_tag @item.item_image.url(:medium) %><br>

<h1><%= @item.name %></h1>
<h4 class="text-muted">Seller: <%= @item.seller.profile.username %></h4>
<h3>Description:</h3>
<p><%= @item.description %></p>
<%= is_admin_edit %>
<hr>
<h4>Bid Price: <%= number_to_currency(@item.price) %></h4>

<!-- Stripe Payment Button -->
<%= form_tag charges_path do %>
  <%= hidden_field_tag :item , @item.id %>
    <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
    </article>

<p class="text-danger">This draw will begin in <strong><%= distance_of_time_in_words(Time.now, @item.created_at + 7.days) %></strong>. Don't miss out, bid now!</p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @item.name %>"
          data-amount="<%= @stripe_price %>"
          data-email="<%= @bidder.email %>"
          data-currency="AUD"
          data-locale="auto">
  </script>
<% end %>
<hr>
<img src="https://www.merchantequip.com/image/?logos=v|m|a|dc&height=32" alt="Merchant Equipment Store Credit Card Logos"/>
